@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --Light_Purple: hsl(248, 32%, 49%);
    --Dark_Blue: hsl(249, 10%, 26%);
    --Grayish_Blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--red);
    background-image: url(images/bg-intro-mobile.png);
    background-size: cover;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.main-wrapper{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: fit-content 1fr;
}

/* encabezado */
.header{
    max-width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 70px 0;
    margin: 0 auto;
}

/*form*/
.tf__container{
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 70px;
    margin: 0 auto;
}
.container{
    overflow: hidden;
    box-shadow: 0 8px 0px rgba(0, 0, 0, 0.1);
}
.trial{
    color: white;
    background-color: var(--Light_Purple);
    padding: 16px 40px;
    border-radius: 10px;
    text-align: center;
}
.highlight{
    font-weight: 600;
}
.form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input__container{
    position: relative;
}
.form__input{
    width: 100%;
    padding: 16px;
    border: 1px solid var(--Grayish_Blue);
    border-radius: 5px;
    color: var(--Dark_Blue);
    font-weight: 700;
    outline: none;
}
.form__input:focus{
    outline: 1px solid var(--Light_Purple);
}
.btn{
    padding: 16px;
    border: none;
    color: white;
    background-color: var(--green);
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.btn:active{
    transform: scale(0.95);
}

.label{
    display: none;
    width: 100%;
    font-size: 0.6rem;
    text-align:right;
    color: var(--red);
}
.error-img{
    display: none;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 20;
}

.terms{
    max-width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
    color: var(--Grayish_Blue);
}
.terms a{
    color: var(--red);
    font-weight: 600;
}

@media (min-width: 1400px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/bg-intro-desktop.png);
    }
    .main-wrapper{
        width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .header{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__title{
        font-size: 2.5rem;
    }
}