@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #2b2b2b;
  color: white;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
}